# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\Snorri\OneDrive - Københavns Erhvervsakademi\2021 Spring\ProgramDevelopment2\Exercises\BinaryConverter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
